*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(0, 0, 0);
}
.menu{
    display: flex;
    justify-content: space-around;
    padding: 15px ;
    background-color: #fff;
    border-radius: 20px 20px 20px 20px;
    margin-top: 5px;
    transition: 5s;
    align-items: center;
    border: dashed 3px rgb(19, 4, 75);
}
.menu:hover{
    display: flex;
    justify-content: space-around;
    padding: 15px ;
    background-color: rgb(19, 4, 75);
    border-radius: 20px 20px 20px 20px;
    margin-top: 5px;
    color: #fff;
    transition: 5s;
    border: dashed 3px black        ;

}
.ul1{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;

}
li{
    list-style: none;

}
.ul1 li a{
    color: black;
    text-decoration: none;
}
.ul1 li a:hover{
    color: #fff;
}
.div1{
    text-align: center;
    margin-top: 100px;
    color: black;
    padding: 50px 20px ;
    background-color: #fff;
    width: 40%;
    margin-left: 400px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: silver 10px 10px 10px ;
    transition: 2s;

}
.div1:hover{
    text-align: center;
    margin-top: 100px;
    color: rgb(255, 255, 255);
    padding: 50px 20px ;
    background-color: rgb(19, 4, 75);
    width: 40%;
    margin-left: 400px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: rgb(15, 5, 105) 10px 10px 10px ;
    transition: 2s;
    cursor: pointer;
}
.rasm1 img{
    width: 15%;
    border-radius: 100% ;
    height:70px ;
    box-shadow: rgb(5, 1, 44) 5px 5px 5px ;
}

.menu i:hover{
    color: #fff;
    transition: 2s;

}

.btn1{
    margin-top: 20px;
    padding: 10px 20px ;
    border-radius: 7px 7px;
    border: none;
    background-color: #111;
    color: #fff;
    box-shadow: rgb(32, 30, 30) 6px 6px 6px ;
    transition: 2s;
}
.btn1:hover{
    margin-top: 20px;
    padding: 10px 20px ;
    border-radius: 7px 7px;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: rgb(80, 75, 75) 6px 6px 6px ;
    transition: 2s;
    cursor: pointer;

}
@media only screen and (max-width: 600px) {
    .menu{
        display: grid;
        grid-template-columns: 1fr;
        width: 62%;
        margin-left: 50px;
    }
    .menu:hover{
        display: grid;
        grid-template-columns: 1fr;
        width: 62%;
        margin-left: 50px;
    }
    .ul1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        padding-left: 30px;
    }
    .soz{
        padding-left: 100px;
    }
    .div1{
        width: 50%;
        margin-left: 20px;
        margin-left: 70px;
    }
    .rasm1 img{
        width: 40%;
    }
    .div1:hover{
        width: 50%;
        margin-left: 70px;
    }
}